html, body{
	margin: 0;
}

#username input{
	display: none;
}

#msg-container{
	width: 100%;
	height: 80%;
}

#sending{
	width: 100%;
	height: 20%;
	background-color: slateblue;
}

li {
	list-style: none;
}

li img{
	width: 300px;
}

.sign-on{
	color: grey;
	font-style: italic;
}